- @jobs.each do |job|
  %table
    %tr
      %td ID:
      %td= job.id
    %tr
      %td Priority:
      %td= job.priority
    %tr
      %td Attempts
      %td= job.attempts
    %tr
      %td Last error
      %td
        %pre= job.last_error
    %tr
      %td Object
      %td
        %pre= job.handler.inspect
          